<h1>Listing transmitters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transmitters.each do |transmitter| %>
  <tr>
    <td><%= transmitter.name %></td>
    <td><%= transmitter.description %></td>
    <td><%= link_to 'Show', transmitter %></td>
    <td><%= link_to 'Edit', edit_transmitter_path(transmitter) %></td>
    <td><%= link_to 'Destroy', transmitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transmitter', new_transmitter_path %>
